<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
       <class name="com.test.HashMapDemoTest"/>
       <class name="com.test.LargestNumberTest"/>
       <class name="com.test.PalindromeTest"/>
       <class name="com.test.WordReverseTest"/>
       <class name="com.test.WordReplaceTest"/>
       <class name="com.test.InheritanceTest"/>
 	   <class name="com.test.NullpointerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
